
<form action="/cabinets" method="POST">
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="ingredient_1">Ingredient 1</label><br>
  <input type="text" id="ingredient_1" name="ingredients[][name]"><br><br>
   <label for="ingredient_2">Ingredient 2</label><br>
  <input type="text" id="ingredient_2" name="ingredients[][name]"><br><br>
   <label for="ingredient_3">Ingredient 3</label><br>
  <input type="text" id="ingredient_3" name="ingredients[][name]"><br><br>
   <label for="ingredient_4">Ingredient 4</label><br>
  <input type="text" id="ingredient_4" name="ingredients[][name]"><br><br>
   <label for="ingredient_5">Ingredient 5</label><br>
  <input type="text" id="ingredient_5" name="ingredients[][name]"><br><br>
  <input type="submit" value="Submit">
</form> 